<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<h1>Welcome to Here!<h1>
<a href="http://127.0.0.1:8000/class/edit_product/">个人信息</a>
<br>
<a href="{% url "class_management:course_list" %}"> 我的课程</a>
<br>
<a href="http://127.0.0.1:8000/addclass/"> 课程大厅</a>
</body>
</html>

<style>
    html,body{text-align:center;margin:100px auto;}
    h1 {color:#333333;}
</style>
