<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<h1 class="index1">Welcome to Our Class!</h1>
<br>
<h2 class="index2">
<a class="index" href="{% url 'edit_product' %}">个人信息</a>
<br>
<br>
<a class="index" href="http://127.0.0.1:8000/addclass/"> 我的课程</a>
<br>
<br>
<a class="index" href="https://www.baidu.com/"> 课程大厅</a>
</h2>
</body>
</html>
