<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  </head>
<body>
<h1>登录页面</h1>
<form method = 'post' enctype="multipart/form-data">{% csrf_token %}
{{userform.as_p}}
<input type="submit" value = "Login" />
</form>
<a href="http://127.0.0.1:8000/class/regist/">Regist</a>
</body>
</html>

<style>
    html,body{text-align:center;margin:100px auto;}
    h1 {color:#5993bb;}
    input{
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
    }
</style>
