{% extends "user/base.html" %}
{% load static %}

{% block content %}
    <div id="main" class="mycourse-list">
        {% for course in courses %}
            <div class="item">
                <a href="{{ course.get_absolute_url }}">
                    <img src="{% if course.image %}{{ course.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ course.get_absolute_url }}">{{ course.name }}</a><br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
