{% extends "coursepage/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Course{% endif %}
{% endblock %}

{% block content %}
    <div class="course-detail">
        <img src="{% if course.image %}{{ course.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ course.name }}</h1>
        {{ course.description|linebreaks }}
        <form role="search" method="get" id="searchform"  action="{% url "addclass:choose" %}">
          {% csrf_token %}
          <button type="submit" onclick="{% if course in usercourse %}{alert('加入课程成功！')}{% else %}{alert('您已选过该课程！')}{% endif %}" >Choose this class</button>
        </form>
        <h2><a href="{{ course.category.get_absolute_url }}">{{ "Back" }}</a></h2>
    </div>
{% endblock %}
